body {
    padding: 20px 400px;
}

/*   Part - 1 */
.part-1 {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;

    background-color: aqua;
    transition-property: background-color, width, height;
    transition-duration: 1s;
}

.part-1:hover {
    background-color: yellow;
    width: 300px;
    height: 300px;
}

/*   Part -2    */

.container {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    background-color: #f0f0f0;
    position: relative;
}
.part-2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    animation: squarePath 5s infinite ease-in-out;
}

/* @keyframes squarePath {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        right: 0;
    }
    50% {
        bottom: 0;
        right: 0;
    }
    75% {
        bottom: 0;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
} */

/* @keyframes squarePath {
    0%,
    100% {
        top: 0;
        right: 0;
    }

    25% {
        top: 0;
        left: 100px;
    }
    50% {
        bottom: 0;
        left: 100px;
    }
    75% {
        right: 0;
        bottom: 0;
    }
} */

@keyframes squarePath {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
    }
    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    75% {
        top: calc(100% - 100px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

/* Part -3  */

.container-2 {
    width: 300px;
    height: 300px;

    position: relative;
}

.sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.earth-orbit {
    width: 300px;
    height: 300px;
    border: 1px dashed darkgray;
    border-radius: 50%;
    animation: spinEarth 7s linear infinite;
}

.earth {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: -7%;
}

.moon-orbit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed lightgray;
    position: absolute;
    top: 42%;
    left: -15%;
    animation: spinEarth 12s linear infinite;
}

.moon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 88%;
    animation: spinMoonOrbit 10s linear infinite;
}
@keyframes spinEarth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinMoonOrbit {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
